.body-content{
    padding-top: 125px;
    min-width: 94em; 
}
.footer{
    min-width: 94em; 
}

.header{
    position: relative;
    min-width: 94em;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
  }


.container-centered{
    width: 90em;
    margin-left: auto;
    margin-right: auto;
}

.header-top{
    padding-top: 70px;
}


.header-bottom{
    margin-top: 118px;
}

.main-logo-div{
    margin-left: 46px;
    float: left;
}

.header-top-right{
    float: right;
}

.banner-counter{
    margin-top: 57px;
}

.early-counter{
    margin-top: 20px;
    margin-bottom: 20px; 
}

.early-grid-container{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 7px;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.banner-grid-container{
    padding-left: 45;
    padding-right: 45;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 7px;
    background-color: rgb(242, 85, 67);
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    display: table;
}


.stats-grid-container{
    padding-left: 45;
    padding-right: 45;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.early-grid-item, .stats-grid-item{
    padding-left: 55px;
    padding-right: 75px;
    text-align: center;
    color: white;
    background: url(../images/banner-counter-rectangle.png);
    background-repeat: no-repeat;
    background-position: right;
}

.early-grid-item-no-bg, .stats-grid-item-no-bg{
    padding-left: 55px;
    padding-right: 75px;
    text-align: center;
    color: white;
}

.banner-grid-item{
    padding-left: 44px;
    padding-right: 63px;
    text-align: center;
    color: white;
    background: url(../images/banner-counter-rectangle.png);
    background-repeat: no-repeat;
    background-position: right;
}

.banner-grid-item-no-bg{
    padding-left: 44px;
    padding-right: 63px;
    text-align: center;
    color: white;
}

.banner-button, .body-about-button{
    display: table;
    margin-left:auto;
    margin-right: auto;
}

.banner-title {
    font-size: 60px;
    font-family: "PlayfairDisplay";
    color: white;
    font-weight: bold;
    text-align: center;
}
  
.banner-date-venue{
    font-size: 22px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    text-align: center;
}

.learn-more-button {
    margin-top: 65px;
    font-size: 18px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 30px;
    float: left;
  }

.early-tickets-main-wrapper .buy-ticket-button{
    font-size: 18px;
    font-family: "Poppins";
    font-weight: bold;
    margin-top: 0px;
    margin-left: 0px;
}

.buy-ticket-button {
    margin-top: 65px;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: bold;
    float: left;
    margin-left: 30px;
  }
  
.play-button {
    margin-top: 91px;
    margin-bottom: 69px;
    text-align: center;  
}

.body-about{
    text-align: center;
    padding-bottom: 120px;
}

.body-about-desc{
    width: 63.361%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 18px;
    font-family: "Poppins";
    color: rgb(28, 29, 29);
    line-height: 2;
}

.body-subscribe-main-wrapper, 
.early-tickets-main-wrapper{
    background-image: -moz-linear-gradient( 135deg, rgb(240,71,74) 0%, rgb(253,175,25) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(240,71,74) 0%, rgb(253,175,25) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(240,71,74) 0%, rgb(253,175,25) 100%);
  
}


.stats-counter-wrapper{
    padding-top: 90px;
    padding-bottom: 220px;
    background-image: -moz-linear-gradient( 135deg, rgb(240,71,74) 0%, rgb(253,175,25) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(240,71,74) 0%, rgb(253,175,25) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(240,71,74) 0%, rgb(253,175,25) 100%);
  
}
.early-button{
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-bottom: 115px;

}

.subscribe-contents-wrapper{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.sponsors-main-wrapper{
    padding-top: 120px;
}

.sponsors-list{
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;
    border-top: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}
.event-sponsors-title{
    text-align: center;
}

.footer-top-left{
    margin-top: 121px;
    float: left;
    width: 53%;
}

.footer-top-right{
    margin-top: 121px;
    margin-bottom: 93px;
    margin-left: 142px;
    float:right;

    width: 33%;
}

.footer-top-content-wrapper{
    padding-left: 134px;
    padding-right: 134px;
}
.footer-top{
    background-color: #1c1d1d;
    color: white;
}

.copyright{
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(206, 206, 206);
    text-align: center;
    background-color: #272828;
    line-height: 93px;
  }
  
  .footer-top-left .left{
      float: left;
      width: 59.39%;
  }

  .footer-top-left .right{
      margin-left: 124px;
    float: right;
}


.testimonials-main-wrapper{
    padding-top: 120px;
    padding-bottom: 120px;
}

.testimonials-title{
    text-align: center;
}

.testimonials-samples-row{
    margin-top: 80px;
    padding-left: 130px;
    padding-right: 130px;
    width:100%;
    display: table;
}

.testimonial{
    position: relative;
    margin-right: 30px;
    width: 47%;
}

.testimonial-text-box{
    float: right;
    width: 91.9%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 65px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.07);
}
  
.testimonial .user-image{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}

.confirmed-speakers-child-wrapper{
    margin-top: -130px;
    background: white;
    padding-top: 120px;
    padding-left: 150px;
    padding-right: 90px;
    padding-bottom: 50px;    
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.07);

}

.past-speakers-child-wrapper{
    background: white;
    padding-top: 90px;
    padding-left: 150px;
    padding-right: 90px;
    padding-bottom: 50px;    
    margin-top: 30px;
}

.speakers-info-container{
    margin-top: 50px;
}

.speakers-row{
    margin-bottom: 30px;
}

.speaker-info{
    margin-right: 30px;
    position: relative;
    width: 370px;
    height: 480px;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.3),rgba(0,0,0,1));
}

.speaker-image{
    width: 100%;
    display: table;
    height: 100%;
}

.speaker-image .bottom{
    display: table-cell;
    width: 100%;
    vertical-align: bottom;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.gradient-bg{
    position: absolute;
    width: 100%;
    padding-top: 170px;
    margin-top: -65px; 
    background-image: -moz-linear-gradient( 135deg, rgb(240,71,74) 0%, rgb(253,175,25) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(240,71,74) 0%, rgb(253,175,25) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(240,71,74) 0%, rgb(253,175,25) 100%);
    z-index: -1;
}

.schedule-main-wrapper{
    padding-top:45px;
}

.schedule-child-wrapper{
    background-color: white;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.07);
    padding-top: 115px;
    padding-bottom: 45px;
}

.schedule-title{
    text-align: center;
    margin-bottom: 50px;
}  

.day-tab{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.auditorium-tab{
    margin-top: 28px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.event{
    padding-top: 45px;

}

.auditorium-events{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.event-right{
    width: 87.5%;
    float: right;
    padding-bottom: 45px;
    padding-left: 10px;
    border-bottom: 2px solid #f3f3f3;
}

.event-right .title{
    margin-top: 15px;
    font-size: 22px;
    font-family: "PlayfairDisplay";
    color: rgb(28, 29, 29);
    font-weight: bold;
  }

.event-right .date-div {
    font-size: 18px;
    font-family: "Poppins";
    color: rgb(28, 29, 29);
    line-height: 2;
  }
  

.event-right .description{
    margin-top: 25px; 
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(28, 29, 29);
    line-height: 1.75;
}
  
/** clear fix**/
.header-top::after,
.header-bottom::after,
.footer-top::after,
.footer-top-content-wrapper,
.footer-top-right ul,
.sponsors-list ul,
.speakers-row::after,
.schedule-main-block ul::after,
.event::after{
    content: "";
    display: table;
    clear: both;
}


#thomas{
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.3),rgba(0,0,0,1)),
                url(../images/speaker1.png) center;
}

#ken{
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.3),rgba(0,0,0,1)),
                url(../images/speaker2.png) center;}

#sandra{
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.3),rgba(0,0,0,1)),
                url(../images/speaker3.png) center;
}

#brad{
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.3),rgba(0,0,0,1)),
                url(../images/speaker4.png) center;
}

#barry{
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.3),rgba(0,0,0,1)),
                url(../images/speaker5.png) center;
}

#eva{
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.3),rgba(0,0,0,1)),
                url(../images/speaker6.png);
}
