1) ball Collision 
2) ant smasher



function Ball (){

    this.x
    this.y
    this.width
    this.height
    this.speed
    this.direction
    
    this.HtmlElement

    create(){

    };

    draw(){
        style.left/ top change
    };

    move(){
        this.x change
        tihs.y change
    };
    checkCollision - mdn checkCollision;


}

for each balls:
    create

regular interval:
    for each balls:
        checkCollision()
        move()
        draw()







